<!-- <button mat-raised-button color="primary">Click Me</button>
<div style="color: aqua;">
</div>
<mat-spinner class="custom-spinner-color"  diameter="100" ></mat-spinner> -->

<!-- <app-reactive-form></app-reactive-form>

<app-reactive-form-group></app-reactive-form-group>

<app-reactive-formgroup-nested></app-reactive-formgroup-nested>

<app-formbuilder></app-formbuilder>

<app-form-validation></app-form-validation>

<app-spinner></app-spinner>
<app-spinner2></app-spinner2>

<app-spinner3></app-spinner3> -->

<app-custom-spinner></app-custom-spinner>

<!-- <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner> -->
